body {
  background-color: lightgray;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

.container {
  display: flex;
  height: 600px;
  border: 3px solid purple;
  /*acomodar elementos en horizontal*/
  justify-content: space-evenly;
  /*
  center
  space-around pone espacios entre los elementos
  space-between es útil para logo-menú en navbar
  space-evenly distribuye espacios de forma equitativa, usar para responsive 
  */

  /*acomodar elementos en vertical*/
  align-items: baseline;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.text {
  margin: 0;
  padding-left: 15px;
  font-family: "Bebas Neue", cursive;
}

.red {
  background-color: red;
  /*align-self: flex-end;*/
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
  /*align-self: center;*/
}

.vermelho {
  color: #9d0208;
}

.verde {
  color: #2e5129;
}

.azul {
  color: #3a0ca3;
}

.amarelo {
  color: #ffc300;
}
